In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_excel('C:/Users/shyam/Downloads/Dummy.xlsx')

In [3]:
df.head()

   A    B   C   D   E   F   G   H   I   J   K   L   M   N   O
0  22  72  79   6  68  79  16   5  28  45   8  36  86  48  86
1  72  66  78  58  80   6  52  58  34  85  60  44   5  13  47
2  74  63  84  67  44  62  42  63   1  94  14  78   6  27  20
3  59  70  52  89   0  10  64  37  98  99  62  24  34  75  77
4  44  63  24  66  60  22  61   7  80  45  29  62  21  48  45

In [4]:
df.shape

(74, 15)

In [5]:
df.columns

Index(['A ', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N',
       'O'],
      dtype='object')

In [8]:
std_dev=dict()

for i in df.columns:
    st=np.std(df[i])
    std_dev.update({i:st})

key=[l for l,m in std_dev.items() if m>27.5]

df_updated=pd.DataFrame()
for j in key:
    df_updated[j] = df[j]
    
df_updated

     B    C   D   E   F   G   H   I   J   K   M   N
0   72   79   6  68  79  16   5  28  45   8  86  48
1   66   78  58  80   6  52  58  34  85  60   5  13
2   63   84  67  44  62  42  63   1  94  14   6  27
3   70   52  89   0  10  64  37  98  99  62  34  75
4   63   24  66  60  22  61   7  80  45  29  21  48
..  ..  ...  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
69   8   33  19  38  10  50  97  96  97  76  90  17
70   8   43  23  99  80  93  53  87  55  55  30  58
71  49    7   7  94  15  39  19  59   1  78   1   7
72  78  100  65  78  24  56  84  27  67  19  25  54
73  98   51  83  85  54  21  65  20  15  92  91  76

[74 rows x 12 columns]

In [9]:
std_dev

{'A ': 27.322386115662074,
 'B': 29.823050708180947,
 'C': 27.909998967515047,
 'D': 27.511708112592025,
 'E': 29.4105874060769,
 'F': 30.134386731707824,
 'G': 28.94143162617704,
 'H': 28.927884439997502,
 'I': 28.608526213288602,
 'J': 28.775538090593788,
 'K': 31.69545837831568,
 'L': 25.99377629618031,
 'M': 29.45999255654526,
 'N': 29.790000332250266,
 'O': 27.159808960859024}